.video-grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: black;
}
.main-grid-container{
    display: grid;
    grid-template-columns: 60% 20%;
}
video{
    border-radius: 25%;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
    background-color: black;
}